.header{
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100vw;
    display: grid;
    grid-template-areas: "logo nav";
}
.logo{
    height: 80px;
    margin: auto 50px;
    grid-area: logo;
}

.nav-items{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
  }

.nav-items a{
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.5s;
    text-decoration: none;
}

.nav-items a:hover {
    transform: scale(1.1);
    color: black;
  }

.nav-list {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 700px) {
  .header {
    grid-template-areas: "logo hamburger" "nav-list nav-list";
  }

  .nav-items {
    display: none;
  }
  
  .hamburger {
      display: flex;
      grid-area: hamburger;
      margin: auto;
      padding: 0;
      font-size: 18px;
      border: none;
      background: none;
      outline: none;
    }
   
    #nav-list {
      grid-area: nav-list;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
  
      padding: 30px 0 30px;
      background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    #nav-list a{
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 2px;
      transition: 0.5s;
      text-decoration: none;
      list-style: none;
   }

   #nav-list ul{
    list-style: none;
   }
  }
  /*https://medium.com/@sidbentifraouine/responsive-animated-top-navigation-bar-with-react-transition-group-fd0ccbfb4bbb*/