.announcement-wrapper{
    background-color: #f6f6f6;
    margin: 0;
    padding: 10px;
}

.announcement-card{
    box-shadow: 0 4px 12px -4px rgb(46 55 77 / 12%);
    background-color: white;
    border-radius: 4px;
    padding: 14px 24px;
    border-left: 5px solid var(--primary-purple);
}
.announcement-content .announcement-header{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    letter-spacing: 0.25px;
    font-size: large;
}

.announcement-content{
    font-family: 'Montserrat',sans-serif;
    font-size: small;
}

