.footer{
    background-color: #323039;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.footer h5{
    color: white;
    margin: 25px 0 0 50px;
    font-family: 'Montserrat',sans-serif;
}

.footer img{
  margin: 0 40px;
}

.footer .address{
  color: #A8A8A8;
  font-size: 16px;
  font-weight: 500;
  margin: 0 50px;
  padding: 0;
  letter-spacing: 0;
  line-height: 15px;
}

.footer-message{
    color: #A8A8A8;
    margin: 50px 50px;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

a.social {
    margin: 50px 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.facebook {
    color: #A8A8A8;
  }
  
  a.twitter {
    color: #A8A8A8;
  }

  a.linkedin {
      color: #A8A8A8;
  }
  
  a.instagram {
    color: #A8A8A8;
  }

  a.medium,
  a.github {
    color: #A8A8A8;
  }